<div class="container" [@appeard]='state'>
    <div class="map-content">
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d4364.474425431248!2d-47.23184139195613!3d-23.094500326512687!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1spt-BR!2sbr!4v1683333231698!5m2!1spt-BR!2sbr"
            width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    <div class="text-content">
        <div class="title">
            <h2> Venha nos visitar! </h2>
        </div>
        <p> Conheça nossa loja na <span class="avenida">Av. Alça Nilson Cardoso de
                Carvalho, no
                Jardim Esplanada em Indaiatuba - SP.</span> </p>
        <h3 class="footer-text">Estamos de frente para a prefeitura e prontos para recebê-lo(a)!</h3>
    </div>
</div>